/* sub6-1 write_form */
#content .content_area {font-family: 'Nanum Gothic'; margin-bottom: 270px; font-size: 1.25rem;}
#content .content_area p{text-align: center; font-size: 36px; margin-bottom: 120px;}
#content .content_area p span{color: #f07404;}
#view_title li {padding: 20px 10px; border-bottom: 1px solid #ccc;}
#view_title #view_title1 {text-align: center; border-top: 2px solid #f07404;}
#view_title #view_title2 {overflow: hidden;}
#view_title #view_title2 span:last-child {color: #666; float: right;}

#view_content {min-height: 300px; border-bottom: 2px solid #999; 
    padding: 20px 10px 60px; margin-bottom: 60px; text-align: center;}
#view_content .item_content {text-align: left; margin-top: 30px;}
#view_button {text-align: right;}
#view_button a {display: inline-block; padding: 10px 20px; border: 1px solid #333; font-size: 1rem;
    border-radius: 2px; transition: all .2s;}
#view_button a:hover {background: #f07404; color: #fff; border: 1px solid #f07404;}