/* 각각의 페이지의 내용 콘텐츠 영역 - 회사소개 내용 */


#content .restaurant{} 
#content .restaurant>p {margin-bottom: 50px; text-align: center;  font-weight: 700; 
   font-family: 'Roboto'; font-weight:400 ; font-size: 36px;}  
#content .restaurant>p strong {background: linear-gradient(to top, #e8fa83 40%, transparent 40%);} 
#content .restaurant ul{overflow: hidden; margin:0 0 50px 40px; padding: 20px ;}
#content .restaurant li{width:249px;float:left ; border: 1px solid #ccc; text-align: center; height: 300px; margin: 10px;}
#content .restaurant li:hover{border: 1px solid #00c010; transition: all .5s; box-shadow: 2px 2px 10px 1px rgba(0,0,0,.3);}
#content .restaurant li a{display: block;font-family: 'Nanum Gothic'; font-weight: 400;}
#content .restaurant li>img{width: 249px; height: 180px; }
#content .restaurant li span{display: block; line-height: 1.5em; margin-top: 50px;}
#content .restaurant li span:hover{color: #00c010;}

/* #content .discont .more{display: block;font-family: 'Nanum Gothic'; padding:15px 0 ; background:#892fd5 ;
  border-radius: 25px; color:#fff; text-align:center;width: 220px; margin: 0 auto 130px; transition: all .5s}
#content .discont .more:hover{background:#e56605 ;} */

.restaurant .box{width: 100%;height: 100%;background: rgba(0,0,0,.7);position: fixed;
  left: 0;top: 0;display: none;z-index: 100;} 

.restaurant ul li .big{ width: 1000px;border: 5px solid #333;background: #fff;position: absolute;
  padding: 10px;left: 50%;margin-left: -512px;top:50%;margin-top: -415px;overflow: hidden;
  display: none;z-index: 110;}
.restaurant ul li .big >img{width: 800px;}
.restaurant .big p{text-align:center;padding: 10px;line-height: 2.5em; font-size: 20px; font-weight: bold;font-family: 'Nanum Gothic';}
.restaurant .big p strong{font-size: 24px; color: #00c010;background: linear-gradient(to top, #f6fdd7ec 40%, transparent 40%); }
.restaurant .big dl{overflow: hidden; border: 1px solid #ccc; margin: 20px; padding: 16px;}
.restaurant .big dl dt{font-size: 20px; font-weight: bold;font-family: 'Nanum Gothic'; padding: 20px;}
.restaurant .big dl dd{float: left; margin-right: 8px; line-height: 2em;}
.restaurant .big dl dd img{width: 300px;}

.restaurant .big dl dd span{display: block; margin: 20px;}
.restaurant .big .closeBtn{display: block; text-align: center;background: #fff; padding: 20px;}
.restaurant .big .closeBtn:hover{background-color: #00c010; color: #fff;}



