.visual { background-image: url(../images/sub_images/visual01.png);}

.intro{text-align:center;}
.intro h3{font-size: 1.8rem; text-transform:uppercase}
.intro .point{text-align:center; font-size: 1.1rem; margin: 50px 10px 0; line-height:1.5em; font-family: 'Nanum Gothic'; }
.intro .point strong{color:#f07404;display:block;}
.intro p{}
.intro img{ padding: 30px 0 40px; width: 90%;}
.intro a{font-family: 'Nanum Gothic'; font-weight:bold; font-size: 16px; text-align: center; }
.intro .more{display: block;font-family: 'Nanum Gothic'; padding:15px 0 ; background:#e56605 ;
    border-radius: 25px; color:#fff; text-align:center;width: 220px; margin: 0 auto 110px; transition: all .5s}
.intro .more:hover{background:#418dff ;}   

 