/* 각각의 페이지의 내용 콘텐츠 영역 - 회사소개 내용 */


#content .content_area{}

#content .content_area h3{font-size: 36px; font-family: 'Nanum Gothic';text-align:center; }
#content .content_area .box{ text-align: center; position: relative;}
#content .content_area .box p{font-size: 36px; font-family: 'Nanum Gothic';text-align:center;color:#f07404; font-weight: bold; 
    margin-top: 30px; border: 1px solid #ccc; padding: 50px; background: #fffbef; border-radius: 50px 0; 
    box-shadow: 10px 10px 25px 1px rgb(0 0 0 /10%); margin-top: 50px;}
#content .content_area .box img{margin-top: -109px; margin-left: -480px; margin-right:-486px; width: 110px; height: 150px;}   
#content .content_area ul{margin: 80px 0; font-family: 'Nanum Gothic';}
#content .content_area ul li {font-size: 20px; line-height:2; }


#content .content_area table{border-collapse: collapse; border-bottom: 2px solid #f07404; border-top:2px solid #f07404; width: 1100px;margin: 50px;}
#content .content_area th{padding: 15px 0 15px 0; border-bottom: 1px solid #ccc; text-align: center;}
#content .content_area th.head{background: #f7f7f7;}
#content .content_area td{padding: 15px 0 15px 0; border-bottom: 1px solid #ccc;text-align: center; }

#content .content_area .Suspension{margin: 180px 0;}
#content .content_area .Suspension p{font-size: 24px; font-family: 'Nanum Gothic';text-align:center;border: 1px solid #ccc;padding: 50px; margin-top: 50px; background: #fffbef;
    box-shadow: 10px 10px 25px 1px rgb(0 0 0 /10%);}
#content .content_area .Suspension p span{color:#f07404;font-weight: bold;}
#content .content_area .Suspension dl{}
#content .content_area .Suspension dl dt{font-size: 24px; font-family: 'Nanum Gothic';font-weight: bold;margin-bottom: 20px;}
#content .content_area .Suspension dl dd{font-size: 20px; font-family: 'Nanum Gothic';line-height: 2;}

#content .content_area .Suspension table{border-collapse:collapse; border-bottom: 2px solid #f07404; border-top:2px solid #f07404; width: 1100px; margin:50px;}
#content .content_area .Suspension .head{background: #f7f7f7;padding: 10px 0; text-align: center; border-right: 1px solid #ccc;font-size: 20px;border-left: 1px solid #ccc;}
#content .content_area .Suspension tr td{padding: 15px 0px 15px 0px;text-align: center; border-right: 1px solid #ccc; border-left: 1px solid #ccc; line-height: 1.5em;}
#content .content_area .Suspension tr td.list{text-align: justify;padding: 15px 5px 15px 5px;}