/* 각각의 페이지의 내용 콘텐츠 영역 - 회사소개 내용 */


.intro{text-align:center;}
.intro img{margin:0 0 50px; height: 230px; }
.intro .point{text-align:center; font-size: 36px; margin: 50px; font-family: 'Nanum Gothic'; }
.intro .point p{font-family: 'Nanum Gothic'; font-size: 20px;text-align:justify}
.intro .point span{display:block;color:#fff;font-size: 36px;background: #f07404; border-radius: 45px;width: 1100px; padding: 25px;}
.intro .main {font-family: 'Nanum Gothic'; font-size: 20px;text-align:justify;margin:80px;}

#content .content_area .item{margin: 0 0 80px 50px; width: 1100px; height: 300px; 
}
#content .content_area .item ul{overflow: hidden; padding-top: 40px; margin: 0 0 40px 115px;}
#content .content_area .item li {float: left; text-align: center; width: 220px;height: 220px; border: 3px solid #f07404;
border-radius:50%; font-size: 36px; color: #f07404; font-weight: bold; line-height: 220px;font-family: 'Nanum Gothic';
margin-left: 110px;}


#content .content_area .text{}
#content .content_area .text li{}
#content .content_area .text li dl{margin: 0 0 50px 50px;}
#content .content_area .text li dl dt{font-size: 24px; font-weight: 700; font-family: 'Nanum Gothic'; margin-bottom: 20px; }
#content .content_area .text li dl dt .num{padding: 4px 0 0 8px; width: 21px; height: 25px; display:inline-block; background: #f07404;
margin-right: 10px; color: #fff; border-radius: 50%; font-size: 20px;}
#content .content_area .text li dl dd{font-size: 20px; color: #666;width: 1100px; line-height: 2em;font-family: 'Nanum Gothic';}
#content .content_area p{margin: 0 0 50px 50px; font-size: 20px; font-family: 'Nanum Gothic'; width: 1100px; line-height: 2em; color: #666;}










